<!DOCTYPE html>
<html>
<head>
  <title>Airbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.0.slim.js" integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw=" crossorigin="anonymous"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AirBnB</a>
      </div>
      <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'HOME', root_path%></li>
        <% if signed_in? %>
          <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
          <li id="searchbar"><%= form_for Listing.new, method: :get, url: search_path, class: "navbar-form navbar-left" do |f| %>
            <%= text_field_tag :term, params[:term], placeholder: "Where do you wanna go?" %>
            <%= f.submit 'Search', class: 'btn btn-primary' %></li>
            <%end%>
          <li><span id="profileNavBar"><%= link_to 'Profile', user_path(current_user.id)%><%= image_tag (current_user.avatars[0].small.url) if current_user.avatars != [] %></span></li> 
        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li> 
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li> 
        <%end%>
      </ul>
    </div>
  </nav>
  <div id="body-container">
      <!-- error -->
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
  </div>
  <footer>
  <p>--------------------------------------------</p>
  (You'll find this in the views/layouts/application file)<br>
  This is a footer
  <p>--------------------------------------------</p>
  </footer>

</body>
</html>
